.App {
  padding: 1% 0px;
  text-align: center;
}

.input-img-style {
  width: 20px;
  height: 20px;
  padding: 0px 10px;
  cursor: pointer;
}

.container {
  display: grid;
  margin-top: 10px;
  gap: 20px 1%;
  grid-template-columns: repeat(auto-fit, 400px);
  justify-content: space-evenly;
}

.container p {
  font-size: 11px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.item {
  border: 1px solid gray;
  cursor: pointer;
  border-radius: 10px;
  margin: 1% 4.5%;
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.2), 0 15px 15px 0 rgba(0, 0, 0, 0.11);
  background-color: #fff;
  background-image: linear-gradient(to bottom right, #fff, #91a4a8);
  padding: 5px;
  transition: transform 1s;
}

.item:hover {
  text-shadow: 2px 2px 7px gray;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 25px 10px 0 rgba(0, 0, 0, 0.11)
}

.list .item:hover {
  transform: scale(1.05, 1.05);
}

.container .item:hover {
  transform: scale(1.15, 1.15);
}

.input-cntr {
  display: flex;
  align-items: center;
  margin: 0px 5.5%;
  text-align: left;
}

.input-cntr>div {
  flex-grow: 1;
  font-style: italic;
  font-size: 12px;
}

.loader-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.loader-screen span {
  position: absolute;
}

.error-img {
  width: 15%;
  height: 15%;
  border-radius: 50%;
}

.error-cntr {
  margin: 10px;
}

.error-msg {
  color: red;
  font-style: italic;
}

.modal-overlay {
  z-index: 99;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  width: 50%;
  border-radius: 30px;
  background-color: white;
  background: content-box radial-gradient(#edf7f0, #91a4a8);
}

.modal-content {
  padding: 3px 2%;
  font-size: 13.5px;
}

#close input {
  float: right;
  margin: 10px 5px 0px 0px;
  width: 30px;
  height: 30px;
}

.spinner {
  border: 7px solid #f3f3f3;
  border-top: 10px solid gray;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: loader 1s linear infinite;
}

input[type=search] {
  margin-right: 5px;
  border: 1px dotted;
  font-size: 13px;
  border-radius: 6px;
  padding: 3px;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}